#frase {
    color: darkred;
    font-size: 50px;
    text-align: center;
    margin-top: 350px;
}

#linha {
    width: 70%;
    margin: 0 auto;
    border: 4px solid darkred;
}

#botao {
    display: block;
    width: 200px;
    height: 70px;
    margin: 100px auto;
    background-color: rgb(137, 202, 224);
    color: black;
    font-size: 30px;
    border: none;
    cursor: pointer;
}